body {
    background-color: #233eff;
    background-image: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

html,body {
    width: 100vw;
    height: 100vh;
}

p {
    display: none;
}